body.booky-background
{
    background: #000000 url("../img/book-open-pages-literature-159872.jpg") no-repeat center center;
}
.presentation-title {
    font-size: 4em;
    font-weight: 700;
    margin: 0;
    color: #FFFFFF;
    background: #fbf8ec;
    background: -moz-linear-gradient(top, #FFFFFF 35%, #4e6773 100%);
    background: -webkit-linear-gradient(top, #FFFFFF 35%, #4e6773 100%);
    background: -ms-linear-gradient(top, #FFFFFF 35%, #4e6773 100%);
    background: linear-gradient(to bottom, #FFFFFF 35%, #4e6773 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.masthead {
    display: table;
    width: 100%;
    height: auto;
    padding: 200px 0;
}

.masthead .intro-body {
    display: table-cell;
    vertical-align: middle
}

.masthead h3, .masthead p {
    text-shadow: 0px 0px 1px #000000;
}
@media (min-width: 768px) {
    .masthead {
        height: 100%;
        padding: 0
    }
    .masthead .intro-body .presentation-title {
        font-size: 8em;
    }
}