body.booky-background
{
    background: #000000 url("../img/book-open-pages-literature-159872.jpg") no-repeat center center;
}
.presentation-title {
    font-size: 4em;
    font-weight: 700;
    margin: 0;
    color: #eaeaea;
    background: #fbf8ec;
    background: -moz-linear-gradient(top, #eaeaea 35%, #c4c5d6 100%);
    background: -webkit-linear-gradient(top, #eaeaea 35%, #c4c5d6 100%);
    background: -ms-linear-gradient(top, #eaeaea 35%, #c4c5d6 100%);
    background: linear-gradient(to bottom, #eaeaea 35%, #c4c5d6 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.masthead {
    display: table;
    width: 100%;
    height: auto;
    padding: 25px 0;
}

.masthead .intro-body {
    display: table-cell;
    vertical-align: middle
}

.masthead h3, .masthead p {
    text-shadow: 0px 0px 1px #000000;
}
@media (min-width: 768px) {
    .masthead {
        height: 100%;
        padding: 100px 0;
    }
    .masthead .intro-body .presentation-title {
        font-size: 8em;
    }
}
.no-border { border: 0 !important; }
.fa-2x {
    font-size: 1.5em !important;
}
.fa-3x {
    font-size: 2em !important;
}
.fa-4x {
    font-size: 3em !important;
}
.fa-5x {
    font-size: 4em !important;
}
.fa-6x {
    font-size: 5em !important;
}
.fa-7x {
    font-size: 6em !important;
}
.fa-8x {
    font-size: 7em !important;
}