App\Entities\Book:
      type: entity
      table: books
      repositoryClass: App\Repositories\BookRepository

      indexes:
        book_language:
            columns: ["language"]
        year:
            columns: ["year"]
        book_name:
            columns: ['name']
            flags: fulltext
      id:
        id:
            type: integer
            generator:
                strategy: auto
            options:
                unsigned: true
      fields:
        name:
            type: string
            length: 255

        description:
            type: text
            nullable: true

        isbn:
            type: string
            length: 255

        year:
            type: string
            length: 4
            nullable: true
        page:
            type: integer
            nullable: true

        cover:
            type: string
            lenght: 255
            nullable: true

        language:
            type: string
            nullable: true

        gutenbergId:
            type: integer
            nullable: true

        gutenbergFiles:
            type: array
            nullable: true

        source: #url çak geç
            type: string
            nullable: true

        categories:
            type: string
            nullable: true

        rights:
            type: string
            nullable: true
        licence:
            type: string
            nullable: true

        collection:
            type: string
            nullable: true

        releaseDate:
            type: datetime

      oneToOne:
        post:
          targetEntity: App\Entities\Post
          cascade: [ 'persist' ]

      manyToOne:
        author:
          targetEntity: App\Entities\Author
          cascade: [ 'persist' ]
          fetch: EAGER